<div class="container">
    <mat-grid-list cols="3" class="mg">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="bg">
            <form>
                <h1>Add Department</h1>

                <mat-form-field appearance="outline">
                    <mat-label>Department Name</mat-label>
                    <input matInput placeholder="Enter Department Name">
                </mat-form-field>
                <br>
                <br>

                <button mat-raised-button color="primary" value="submit" >Submit</button>

            </form>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
</div>